<ion-view view-title="Activity">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/max.png');"></span>
                    <strong>Max</strong> Hello Ionic.
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubbles positive"></i> 6
                        <i class="icon ion-heart assertive"></i> 23
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 3 mins ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/mike.png');"></span>
                    <strong>Mike</strong> says "
Nec ei populo efficiantur. In vidisse convenire sed, eu mundi appetere forensibus eos. Qui eius posidonium dissentiunt an, nullam graeco sed at. Augue feugait complectitur eu qui. Mei natum harum doctus an, in facilis nominati repudiare sit, per dico efficiendi in. Mea ornatus voluptua ad, ne albucius sensibus dissentiet nam."
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubble positive"></i> 2
                        <i class="icon ion-heart assertive"></i> 4
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 20 mins ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/perry.png');"></span>
                    <strong>Perry</strong> added a gallery <strong>Sed et nominavi ullamcorper, in minim eruditi tincidunt cum.</strong>
                    <a class="image"><img src="img/perry-pic1.jpg">
                    </a>
                    <a class="image"><img src="img/perry-pic2.jpg">
                    </a>
                    <a class="image"><img src="img/perry-pic4.jpg">
                    </a>
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubble positive"></i> 2
                        <i class="icon ion-heart assertive"></i> 4
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 3 hrs ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
