<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/material-design-bg03.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/ben.png');"></div>
                <h3><a class="light">Ben Sparrow</a></h3>
                <h4>@ben</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Activity
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> Friends
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> Photos
            </a>
        </div>
        <h4 class="content padding double-padding-x">Following</h4>
        <div class="list animate-fade-slide-in-right">
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/mike.png">
                <h2>Mike</h2>
                <p>Nec ei populo efficiantur. In vidisse convenire sed</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/perry.png">
                <h2>Perry</h2>
                <p>Vix odio augue sadipscing ex, eu per apeirian imperdiet.</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/adam.jpg">
                <h2>Adam</h2>
                <p>&amp; Lorem ipsum dolor sit amet, <strike>ius cu decore</strike> admodum sententiae</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/max.png">
                <h2>Max</h2>
                <p>In essent putant vis, nam in nisl doctus.</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
