<ion-view view-title="Buttons">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        
        <div class="padding">
            <h3 class="padding-top">Buttons</h3>
            <button class="button">
              Default
            </button>
            <button class="button button-light">
              button-light
            </button>
            <button class="button button-stable">
              button-stable
            </button>
            <button class="button button-positive">
              button-positive
            </button>
            <button class="button button-calm">
              button-calm
            </button>
            <button class="button button-balanced">
              button-balanced
            </button>
            <button class="button button-energized">
              button-energized
            </button>
            <button class="button button-assertive">
              button-assertive
            </button>
            <button class="button button-royal">
              button-royal
            </button>
            <button class="button button-dark">
              button-dark
            </button>

            <h3 class="padding-top">Block Buttons</h3>
            <button class="button button-block button-positive">
                Block Button
            </button>

            <h3 class="padding-top">Full Width Block Buttons</h3>
            <button class="button button-full button-assertive">
                Full Width Block Button
            </button>

            <h3 class="padding-top">Different Sizes</h3>
            <button class="button button-small button-positive">
                Small Button
            </button>
            <button class="button button-large button-assertive">
                Large Button
            </button>
            
            <h3 class="padding-top">Outlined Buttons</h3>
            <button class="button button-outline button-positive">
                Outlined Button Positive
            </button>
            <button class="button button-outline button-assertive">
                Outlined Button Assertive
            </button>

            <h3 class="padding-top">Clear Buttons</h3>
            <button class="button button-clear button-positive">
                Clear Button Positive
            </button>
            <button class="button button-clear button-assertive">
                Clear Button Assertive
            </button>

            <h3 class="padding-top">Icon Buttons</h3>
            <button class="button">
                <i class="icon ion-loading-c"></i> Loading...
            </button>
            <button class="button icon-left ion-home">Home</button>
            <button class="button icon-left ion-star button-positive">Favorites</button>
            <a class="button icon-right ion-chevron-right button-calm">Learn More</a>
            <a class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
            <button class="button icon ion-gear-a"></button>
            <a class="button button-icon icon ion-settings"></a>
            <a class="button button-outline icon-right ion-navicon button-balanced">Reorder</a>

            <h3 class="padding-top">Button Bar</h3>
            <div class="button-bar">
                <a class="button positive">First</a>
                <a class="button assertive">Second</a>
                <a class="button energized">Third</a>
            </div>

        </div>

    </ion-content>
</ion-view>
