<ion-view view-title="Content">
    <ion-content ng-class="{expanded:isExpanded}" class="">
        <h1 class="padding light">I'm an H1!</h1>
        <h2 class="padding stable">I'm an H2!</h2>
        <h3 class="padding positive">I'm an H3!</h3>
        <h4 class="padding calm">I'm an H4!</h4>
        <h5 class="padding balanced">I'm an H5!</h5>
        <h6 class="padding energized">I'm an H6!</h6>

        <p class="padding">
        	Lorem ipsum dolor sit amet, ius cu decore admodum sententiae. No amet ignota nam, vis in officiis necessitatibus. Eu eius petentium vel, vel soleat fabellas suscipiantur eu. Et nam omnis nostro, quod mazim eleifend nam ea.
        </p>
        <p class="padding">
        	In essent putant vis, nam in nisl doctus. His epicuri philosophia ne. Ad mea putent eligendi, sit propriae invidunt atomorum et. Sit no ubique omnium tritani. Id facer mundi lobortis eum. Et verear gloriatur sit, mollis vituperatoribus ut pro, ubique tacimates cu usu. Porro laudem duo ad, vidisse rationibus intellegebat sed cu.
        </p>
    </ion-content>
</ion-view>
