<style type="text/css" media="screen">
    .col{ 
        border: 1px solid #ddd;
        background: #f7f7f7;
        text-align: center;
    }    
</style>        
<ion-view view-title="Grid">
    <ion-content ng-class="{expanded:isExpanded}" class="">


        <h3 class="padding-left padding-top">Grid: Evenly Spaced Columns</h3>
        <div class="row">
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
        </div>

        <h3 class="padding-left padding-top">Grid: Evenly Column Sizes</h3>
        <div class="row">
            <div class="col col-50">.col.col-50</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
        </div>
        <div class="row">
            <div class="col col-75">.col.col-75</div>
            <div class="col">.col</div>
        </div>
        <div class="row">
            <div class="col">.col</div>
            <div class="col col-75">.col.col-75</div>
        </div>
        <div class="row">
            <div class="col">.col</div>
            <div class="col">.col</div>
        </div>

        <h3 class="padding-left padding-top">Grid: Offset Column</h3>
        <div class="row">
            <div class="col col-33 col-offset-33">.col</div>
            <div class="col">.col</div>
        </div>
        <div class="row">
            <div class="col col-33">.col</div>
            <div class="col col-33 col-offset-33">.col</div>
        </div>
        <div class="row">
            <div class="col col-33 col-offset-67">.col</div>
        </div>

        <h3 class="padding-left padding-top">Grid: Vertically Aligned</h3>
        <div class="row">
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">1<br>2<br>3<br>4</div>
        </div>
        <div class="row">
            <div class="col col-top">.col</div>
            <div class="col col-center">.col</div>
            <div class="col col-bottom">.col</div>
            <div class="col">1<br>2<br>3<br>4</div>
        </div>
        <div class="row row-top">
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">1<br>2<br>3<br>4</div>
        </div>
        <div class="row row-center">
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">1<br>2<br>3<br>4</div>
        </div>
        <div class="row row-bottom">
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
        <div class="col">1<br>2<br>3<br>4</div>
        </div>

        <h3 class="padding-left padding-top">Responsive Grid</h3>
        <div class="row responsive-sm">
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
        </div>
        
        <span class="padding"></span>
    </ion-content>
</ion-view>
