<ion-view view-title="Header">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        
        <div class="bar bar-subheader bar-light" style="top: 50px">
            <h2 class="title">Sub Header bar-light</h2>
        </div>
        <div class="bar bar-subheader bar-stable" style="top: 100px">
            <h2 class="title">Sub Header bar-stable</h2>
        </div>
        <div class="bar bar-subheader bar-positive" style="top: 150px">
            <h2 class="title">Sub Header bar-positive</h2>
        </div>
        <div class="bar bar-subheader bar-calm" style="top: 200px">
            <h2 class="title">Sub Header bar-calm</h2>
        </div>
        <div class="bar bar-subheader bar-balanced" style="top: 250px">
            <h2 class="title">Sub Header bar-balanced</h2>
        </div>
        <div class="bar bar-subheader bar-energized" style="top: 300px">
            <h2 class="title">Sub Header bar-energized</h2>
        </div>
        <div class="bar bar-subheader bar-assertive" style="top: 350px">
            <h2 class="title">Sub Header bar-assertive</h2>
        </div>
        <div class="bar bar-subheader bar-royal" style="top: 400px">
            <h2 class="title">Sub Header bar-royal</h2>
        </div>
        <div class="bar bar-subheader bar-dark" style="top: 450px">
            <h2 class="title">Sub Header bar-dark</h2>
        </div>

    </ion-content>
</ion-view>
