<ion-view view-title="Radio Buttons">
    <ion-content ng-class="{expanded:isExpanded}" class="">
        
        <h3 class="padding-left padding-top">Radio Button List</h3>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="'A'">Choose A</ion-radio>
            <ion-radio ng-model="choice" ng-value="'B'">Choose B</ion-radio>
            <ion-radio ng-model="choice" ng-value="'C'">Choose C</ion-radio>
            <ion-radio ng-model="choice" ng-value="'C'">Choose D</ion-radio>
        </ion-list>

    </ion-content>
</ion-view>
