<ion-view view-title="Toggle">
    <ion-content ng-class="{expanded:isExpanded}" class="">
        
        <h3 class="padding-top">Toggle</h3>
        <label class="toggle">
            <input type="checkbox">
            <div class="track"><div class="handle"></div></div>
        </label>

        <ul class="list">
            <li class="item item-toggle">
                HTML5
                <label class="toggle toggle-assertive">
                    <input type="checkbox">
                    <div class="track"><div class="handle"></div></div>
                </label>
            </li>
        </ul>
    </ion-content>
</ion-view>
