<style type="text/css" media="screen">
    .ionicons-demo{
        list-style: none;
    }
    .ionicons-demo li {
        display: inline-block;
        padding: 2px;
        font-size: 42px;
    }
</style>

<ion-view view-title="Utility">
    <ion-content ng-class="{expanded:isExpanded}" class="">

        <h3 class="padding-left padding-top">Colors</h3>
        <ul class="list">
            <li class="item light" style="background-color: #000">light</li>
            <li class="item stable">stable</li>
            <li class="item positive">positive</li>
            <li class="item calm">calm</li>
            <li class="item balanced">balanced</li>
            <li class="item energized">energized</li>
        </ul>
        
        <h3 class="padding-left padding-top">Icons</h3>
        <ul class="ionicons-demo">
            <li class="ion-ionic"></li>
            <li class="ion-arrow-up-a"></li>
            <li class="ion-arrow-right-a"></li>
            <li class="ion-arrow-down-a"></li>
            <li class="ion-arrow-left-a"></li>
            <li class="ion-arrow-up-b"></li>
            <li class="ion-arrow-right-b"></li>
            <li class="ion-arrow-down-b"></li>
            <li class="ion-arrow-left-b"></li>
            <li class="ion-arrow-up-c"></li>
            <li class="ion-arrow-right-c"></li>
            <li class="ion-arrow-down-c"></li>
            <li class="ion-arrow-left-c"></li>
            <li class="ion-arrow-return-right"></li>
            <li class="ion-arrow-return-left"></li>
            <li class="ion-arrow-swap"></li>
            <li class="ion-arrow-shrink"></li>
            <li class="ion-arrow-expand"></li>
            <li class="ion-arrow-move"></li>
            <li class="ion-arrow-resize"></li>
            <li class="ion-chevron-up"></li>
            <li class="ion-chevron-right"></li>
            <li class="ion-chevron-down"></li>
            <li class="ion-chevron-left"></li>
            <li class="ion-log-in"></li>
            <li class="ion-log-out"></li>
            <li class="ion-checkmark-round"></li>
            <li class="ion-checkmark"></li>
            <li class="ion-checkmark-circled"></li>
            <li class="ion-close-round"></li>
            <li class="ion-close"></li>
            <li class="ion-close-circled"></li>
            <li class="ion-plus-round"></li>
            <li class="ion-plus"></li>
            <li class="ion-plus-circled"></li>
            <li class="ion-minus-round"></li>
            <li class="ion-minus"></li>
            <li class="ion-minus-circled"></li>
            <li class="ion-information"></li>
            <li class="ion-information-circled"></li>
            <li class="ion-help"></li>
            <li class="ion-help-circled"></li>
            <li class="ion-help-buoy"></li>
            <li class="ion-alert"></li>
            <li class="ion-alert-circled"></li>
            <li class="ion-refresh"></li>
            <li class="ion-loop"></li>
            <li class="ion-shuffle"></li>
            <li class="ion-home"></li>
            <li class="ion-search"></li>
            <li class="ion-flag"></li>
            <li class="ion-star"></li>
            <li class="ion-heart"></li>
            <li class="ion-gear-a"></li>
            <li class="ion-gear-b"></li>
            <li class="ion-settings"></li>
            <li class="ion-wrench"></li>
            <li class="ion-hammer"></li>
            <li class="ion-trash-a"></li>
            <li class="ion-trash-b"></li>
            <li class="ion-navicon-round"></li>
            <li class="ion-navicon"></li>
            <li class="ion-drag"></li>
            <li class="ion-document"></li>
            <li class="ion-document-text"></li>
            <li class="ion-clipboard"></li>
            <li class="ion-bookmark"></li>
            <li class="ion-email"></li>
            <li class="ion-folder"></li>
            <li class="ion-filing"></li>
            <li class="ion-archive"></li>
            <li class="ion-reply"></li>
            <li class="ion-reply-all"></li>
            <li class="ion-forward"></li>
            <li class="ion-share"></li>
            <li class="ion-link"></li>
            <li class="ion-paperclip"></li>
            <li class="ion-compose"></li>
            <li class="ion-briefcase"></li>
            <li class="ion-medkit"></li>
            <li class="ion-at"></li>
            <li class="ion-pound"></li>
            <li class="ion-cloud"></li>
            <li class="ion-upload"></li>
        </ul>

        <p class="positive text-center">For more icons, visit <a href="http://ionicons.com" target="_blank">ionicons.com</a></p>

    </ion-content>
</ion-view>
